body {
    font-family: "Trebuchet MS", "Helvetica";
    background-color: #FFFCEB;
    background-attachment: fixed;
    background-image: url("McLaury.jpg");
    margin: 0;
}

// Side menu
ul.leftmenu li {
    width: 100%;
    background-color: #EEE;
}   

ul.leftmenu li:hover {
    text-decoration: underline;
}

ul.leftmenu li.current-item {
    width: 100%;
    background-color: #EEE;
    font-weight: bold;
}

ul.leftmenu li.current-item:hover {
    text-decoration: none;
}

ul.leftmenu a {
    display: block;
    text-decoration: none;
    color: black;
}

ul.leftmenu {
    list-style: none;
    padding-left: 10px;
}

h2.leftmenuheader {
    padding-left: 10px;
    color: #f7f7f7;
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: -15px;
}

#link_div {
    width:25%;
    float:left;
    padding:5px;
}

#description_div {
    width:72%;
    float:left;
    padding:5px;
}

details:hover {
    text-decoration: underline;
    color: #B6A36B;
    cursor: pointer;
}

header {
    color: #f7f7f7;
    background: #001F56;
    border-bottom: 5px solid #B6A36B;
    padding;: 10px 15px;
    clear: both;
    position: static;
    font-size: 150%;
}

img.header-logo {
    width: 10%;
}

h1.site-title {
    position: absolute;
}

div.side-nav-container{
    float: left;
    width: 15%;
    padding-right: 10px;
    /*top, right, bottom, left*/
    margin: 0 0 0 1em;
}

div.body-container{
    display: block;
    float: left;
    width: 80%;
    padding-left: 15px;
    /*padding-top: 25px;*/
    padding-bottom: 80px;
}

div.content{
    background: white;
    box-shadow: 3px 3px 100px #000000;
    margin-top: 1em;
}

#footer {
    color: #f7f7f7;
    background: #001F56;
    border-top: 5px solid #B6A36B;
    padding;: 10px 15px;
    clear: both;
    position: fixed;
    width: 100%;
    font-size: 75%;
    bottom: 0;   
}

div.list-container{
    box-shadow: 3px 3px 100px #000000;
    border-radius: 3px;
    background: #EEE;
}

/*More attractive styling changes to the heading of the collapsing content element.*/
summary {
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
}

/*More attractive styling changes to the details (list elements) of the collapsing content element*/
details {
    border-radius: 3px;
    background: #EEE;
}

div.adminButtons{
    padding: 5px;
    color: #f7f7f7;
    font-size: 1.5em;   
    top: 0;
    right: 0;
    position: absolute;
    width: 20%
}

/* <details> and <summary> are block level elements */
details, summary { 
    display: block;
}

/* The following styles will only get applied if JavaScript is enabled and <details> is not natively supported */

/* Add focus styles (for keyboard accessibility) */
.no-details summary:hover, .no-details summary:focus {
    background: #ddd;
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Hide all direct descendants of every <details> element */
/* Note that IE6 doesn’t support the child selector; we’ll work around that using jQuery later */
.no-details details > * {
    display: none;
}

/* Make sure summary remains visible */
.no-details details summary {
    display: block;
}

/* Apply a pointer cursor upon hover to indicate it’s a clickable element. These styles can be applied regardless of whether the fallback is needed */
summary {
    cursor: pointer;
}
